/* pre styled css */
@import url("../../css/style.css");
/* pre styled css */
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb                                     ));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */
/* Accordion.css */
.accordion-header {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.accordion-header.active {
  background-color: #e6f7ff;
}

.accordion-content {
  border: 1px solid #ccc;
  border-top: none;
  overflow: hidden;
  transition: max-height 0.3s linear;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.testimonial-button {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-right: 2rem;
  gap: 1rem;
}

.testimonial-button button {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cad1d1;
  border-radius: 50%;
  transition: 0.5s all;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 32px;
}

.testimonial-button button:hover {
  transform: scale(1.03);
  background: #062c30;
  color: #fff;
}
